/**
 * footer/header/main menu/navigation go in this file
 */
@charset "utf-8";

/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}

.l-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  z-index: 998;
  top: 0;
  min-height: 100px;
}

html.admin-bar .layout--juiced-up-full-screen-left header.l-header {
  top: 0px;
}

html.admin-bar .layout--juiced-up-full-screen-right header.l-header {
  top: 0px;
}

.header-menu a {
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px 15px;
}

/* Region header blocks. */
.l-header .block:after {

  /* Clearfix */
  content: "";
  display: table;
  clear: both;
}

.l-header .block .content {
  margin: 0;
  padding: 0;
}

.l-header .block ul {
  margin: 0;
  padding: 0;
}

.l-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}

.l-header .form-text {
  margin-right: 2px;

  /* LTR */
  width: 120px;
}

[dir="rtl"] .l-header .form-text {
  margin-left: 2px;
  margin-right: 0;
}

/* User Login block in the header region */
.l-header .block-user-login {
  width: auto;
}

.l-header .block-user-login .content {
  margin-top: 2px;
}

.l-header .block-user-login .form-item {
  float: left;

  /* LTR */
  margin: 0;
  padding: 0;
}

[dir="rtl"] .l-header .block-user-login .form-item {
  float: right;
}

.l-header .block-user-login div.item-list,
.l-header .block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}

.l-header .block-user-login div.item-list {
  clear: both;
}

.l-header .block-user-login div.description {
  display: inline;
}

.l-header .block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}

.l-header .block-user-login .item-list li {
  list-style: none;
  float: left;

  /* LTR */
  padding: 3px 0 1px;
}

[dir="rtl"] .l-header .block-user-login .item-list li {
  float: right;
}

.l-header .block-user-login .item-list li.last {
  padding-left: 0.5em;

  /* LTR */
}

[dir="rtl"] .l-header .block-user-login .item-list li.last {
  padding-left: 0;
  padding-right: 0.5em;
}

.l-header .block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}

.l-header .block-user-login input.form-submit {
  border: 1px solid;
  margin: 4px 0;
  padding: 3px 8px;
}

.l-header .block-system-main-menu {
  float: right;
  padding-top: 0px;
}

.block-system-main-menu h2.block-title,
.mean-bar h2.block-title {
  display: none;
}

.gn-menu-main {
  top: 55px !important;
}

/* Search block in region header. */
.l-header .block-search-form {
  width: 208px;
  float: left;
  margin-top: 10px;
}

.l-header .block-search-form .block-title {
  display: none;
}

.l-header .block-search-form .form-text {
  width: 154px;
}

/* Language switcher block in region header. */
.l-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

.l-header ul.menu a {
  padding-left: 0px;
}

header.l-header .logo img {
  max-height: 125px;
}

/* --------------- Main Menu ------------ */
.l-header ul.menu li {
  float: left;

  /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}

[dir="rtl"] .l-header ul.menu li {
  float: right;
}

.l-header ul.menu a {
  float: left;

  /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none;
}

[dir="rtl"] .l-header ul.menu a {
  float: right;
}

.block-system-main-menu ul.menu li ul {
  border: 0px solid !important;
}

body:not(.front) .block-system-main-menu {
  top: 0px !important;
}

.l-header-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 965px;
  margin: auto;
}

.l-header nav li {
  display: inline-block;
}

/* ------------------ Footer ------------------ */
.l-footer {
  padding: 30px;
  text-align: center;
}

.l-footer-columns .block,
.l-footer .block {
  margin: 0.5em auto;
  padding: 0;
  border: none;
}

.l-columns .block .content,
.l-footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}

.l-footer .block h2 {
  margin: 0;
}

.l-footer-columns {
  padding-top: 30px;
}

.l-footer-columns h2,
.l-footer h2 {
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.l-footer-columns .content,
.l-footer .content {
  margin-top: 0;
}

.l-footer-columns p,
.l-footer p {
  margin-top: 1em;
}

.l-footer-columns ul,
.l-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.l-footer-columns li,
.l-footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-footer .section {
  letter-spacing: 0.2;
  padding-top: 30px;
}

.l-footer .region {
  margin-top: 20px;
}

.l-footer .block {
  clear: both;
}

.l-footer .menu,
.l-footer .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-footer .menu li a {
  display: block;
  width: 100%;
  clear: both;
  padding-bottom: 1em;
}

[dir="rtl"] .l-footer .menu li a {
  float: right;
}

.l-footer .menu li.first a {
  padding-left: 0;

  /* LTR */
}

[dir="rtl"] .l-footer .menu li.first a {
  padding-right: 0;
  padding-left: 12px;
}

.l-footer .menu li.last a {
  padding-right: 0;

  /* LTR */
  border-right: none;

  /* LTR */
}

[dir="rtl"] .l-footer .menu li.last a {
  padding-left: 0;
  padding-right: 12px;
  border-left: none;
}

@media screen and (min-width: 785px) {
  html.admin-bar header.l-header {
    top: 32px;
  }

  .l-header .logo {
    float: left;
  }

  .l-header nav a {
    padding: 3rem 1rem 3rem 1rem;
  }

  .l-header .logo {
    display: block;
    max-width: 129px;
    margin: 0 auto;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  header.l-header {
    position: relative;
  }

  header.l-header .logo {
    padding-top: 0px;
    padding-bottom: 20px;
    width: auto;
  }

  .l-header .header-menu {
    float: none;
  }

  .l-header .block-system-user-menu {
    padding-top: 20px;
  }

  .l-header .header-menu li {
    display: block;
    list-style-type: none;
    padding: 0em;
    margin: 0;
    clear: both;
  }

  .header-menu a {
    padding: 0px;
  }

  .l-header .block-system-main-menu {
    width: 100%;
    float: none;
  }

  html.admin-bar .block-system-main-menu {
    top: 0px;
  }

  .responsive-menus.responsified .responsive-menus-simple li a {
    padding: 5px;
  }

  .responsive-menus.responsified .responsive-menus-simple li ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .l-header ul.menu a {
    height: 1em;
    line-height: 1em;
  }

  #collapsed-menu-button {
    margin-left: 0px;
  }

  .l-header .block-system-main-menu {
    margin-top: 15px;
  }
}

.l-header nav ul li a:hover,
.l-header nav ul li a:focus,
.l-header nav ul li a.active {
  text-decoration: none;
}

.layout--juiced-up-full-screen-bottom .l-header nav a,
.layout--juiced-up-full-screen-top .l-header nav a,
.layout--juiced-up-full-screen-left .l-header nav a,
.layout--juiced-up-full-screen-right .l-header nav a {
  padding: 1rem 1rem 1rem 1rem;
  line-height: 3.5;
}

@media only screen and (min-width: 600px) {
  .layout--juiced-up-full-screen-bottom .l-header nav,
  .layout--juiced-up-full-screen-bottom .l-header nav a,
  .layout--juiced-up-full-screen-none .l-header nav,
  .layout--juiced-up-full-screen-none .l-header nav a,
  .layout--juiced-up-split-screen .l-header nav,
  .layout--juiced-up-split-screen .l-header nav a,
  .layout--juiced-up-split-screen-flipped .l-header nav,
  .layout--juiced-up-split-screen-flipped .l-header nav a,
  .layout--juiced-up-split-screen-none .l-header nav,
  .layout--juiced-up-split-screen-none .l-header nav a,
  .layout--juiced-up-split-screen-none-flipped .l-header nav,
  .layout--juiced-up-split-screen-none-flipped .l-header nav a {
    padding-top: 0px;
    line-height: 1;
  }

  .l-header nav {
    float: right;
    margin: 0;
    padding-top: 31px;
  }

  .layout--juiced-up-full-screen-left .l-header nav,
  .layout--juiced-up-full-screen-left .l-header .block-system-main-menu,
  .layout--juiced-up-full-screen-right .l-header nav,
  .layout--juiced-up-full-screen-right .l-header .block-system-main-menu {
    float: left;
    margin: 0;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 330px) {
  .block-system-main-menu {
    width: 215px;
  }

  #mobile-menu-inner.accordion {
    width: 100% !important;
  }
}

@media only screen and (max-width: 601px) {
  .block-system-main-menu ul.menu {
    padding-top: 25px;
  }
}

@media screen and (max-width: 37.5625em) {
  .l-header {
    display: flex;
    order: -2;
  }
}
